<div class="flex flex-col gap-8 p-4">
  <h1 class="text-3xl font-bold">Commandes</h1>

  <div class="flex flex-col gap-2">
    <h2 class="text-2xl">À livrer</h2>
    <div class="flex flex-col gap-4" *ngFor="let order of orders">
      <div class="flex justify-between w-full items-center p-4 bg-gray-200 rounded">
        <div class="flex flex-col gap-4 h-full">
          <span>
            No: {{ order.id }}
          </span>
          <span>
            Prix: {{order.total}} eur
          </span>
        </div>
        <button mat-fab color="primary" (click)="markAs('delivered', order)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <h2 class="text-2xl">Livrées</h2>
    <div class="flex flex-col gap-4" *ngFor="let order of deliveredOrders">
      <div class="flex justify-between w-full items-center p-4 bg-gray-200 rounded">
        <div class="flex flex-col gap-4 h-full">
          <span>
            No: {{ order.id }}
          </span>
          <span>
            Prix: {{order.total}} eur
          </span>
        </div>
        <button mat-fab color="warn" (click)="markAs('to_deliver', order)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
