@import url("https://use.typekit.net/vzt8aot.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Raleway:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body {
  @apply pt-12 font-sans;
}


.mat-mdc-snack-bar-container {

  &.custom-snackbar {
     &--success {
      --mdc-snackbar-container-color: hsl(105, 40%, 65%);
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
     }

     &--error {
      --mdc-snackbar-container-color: hsl(10, 40%, 60%);
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
     }

     &--info {
      --mdc-snackbar-container-color: hsl(235, 50%, 77%);
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
     }

     &--warning {
      --mdc-snackbar-container-color: hsl(72, 31%, 57%);
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
     }
  }
}
